@media (max-width: 1206px) {
    .wrapper__pictire {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1%;
    }
    .wrapper__pictire img {
        padding-bottom: 1%;
    }
    .team-item {
        padding-bottom: 3%;
    }
    .blog-wrap__item {
        /* flex-wrap: wrap; */
        align-items: center;
    }
    .footer-wrap {
        display: flex;
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .follow {
        display: none;
    }
    .footer-col2,
    .footer-col3 {
        width: 42%;
    }
}

@media (max-width: 1026px) {
    .section-header-wrapper__title h1 {
        font-size: 80px;
    }
    .section-header-menu {
        display: none;
    }
    .footer-wrap {
        flex-direction: column;
    }
    .section-header-logo {
        justify-content: center;
        padding-bottom: 2%;
    }
    .footer-col1,
    .footer-col2,
    .footer-col3 {
        width: 80%;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:770px) {
    .wrapper__line1,
    .wrapper__line2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrapper__item {
        border: none;
    }
}

@media (max-width:570px) {
    .section-about,
    .section-servises,
    .section-team,
    .section-work,
    .section-blog {
        font-size: 20px;
    }
    .section-responsive {
        height: 680px;
    }
    .section-responsive-wrapper__title {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .tablet-wrapper {
        display: none;
    }
    .mobile-wrapper {
        display: contents;
    }
}